
.float-right {
    float: right!important;
}

.pdr5
{
    padding-right: 5px;
}

.pdr10
{
    padding-right: 10px;
}

.pdr15
{
    padding-right: 15px;
}

.pdr20
{
    padding-right: 20px;
}

.pdr25
{
    padding-right: 25px;
}

.pdr30
{
    padding-right: 30px;
}

.pdr35
{
    padding-right: 35px;
}

.pdr40
{
    padding-right: 40px;
}

.pdt25
{
    padding-top: 25px;
}

.pdl5
{
    padding-left: 5px !important;
}

.mgr-5
{
    margin-right: 5px;
}

.mgr-10
{
    margin-right: 10px;
}

.mgr-15
{
    margin-right: 15px;
}


.no-radius
{
    border-radius: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.mt-6,
.my-6 {
  margin-top: 4.5rem !important;
}

.mr-6,
.mx-6 {
  margin-right: 4.5rem  !important;
}

.mb-6,
.my-6 {
  margin-bottom: 4.5rem !important;
}

.ml-6,
.mx-6 {
  margin-left: 4.5rem !important;
}

.mt-7,
.my-7 {
  margin-top: 6rem !important;
}

.mr-7,
.mx-7 {
  margin-right: 6rem  !important;
}

.mb-7,
.my-7 {
  margin-bottom: 6rem !important;
}

.ml-7,
.mx-7 {
  margin-left:6rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}


.bg-red 
{
    background: #e83f33;
    color:#fff;
}

.bg-red:hover
{
    background: #e83f33de;
    color:#fff;
}

.register-border
{
  border: 1px solid #999999a1;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  padding: 23px 20px 29px;
}

.border-grey
{
  border: 1px solid #999999a1;
}

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-size: 14px; */
  position: relative;
}

#cssmenu li
{
  border-bottom: solid 1px #e3e3e3;
}

#cssmenu a {
  line-height: 1.3;
}

#cssmenu {
  width: 250px;
}

#cssmenu>ul>li>a {
  /* padding-right: 40px; */
  font-size: 25px;
  font-weight: bold;
  display: block;
  /* background: #bd0e36; */
  /* color: #ffffff; */
  /* border-bottom: 1px solid #5e071b; */
  /* text-transform: uppercase; */
  position: relative;
}

#cssmenu>ul>li>a>span {
  /* background: #ed1144; */
  padding: 6px;
  display: block;
  font-size: 13px;
  font-weight: 300;
}

#cssmenu>ul>li>a:hover {
  text-decoration: none;
}

#cssmenu>ul>li.active {
  border-bottom: none;
}

#cssmenu>ul>li.active>a {
  /* color: #fff; */
}

#cssmenu>ul>li.active>a span {
  /* background: #bd0e36; */
  color: #bd0e36;
}

#cssmenu span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none;
}

#cssmenu ul ul {
  display: none;
}

#cssmenu ul ul li {
  border: 1px solid #e0e0e0;
  border-top: 0;
}

#cssmenu ul ul a {
  padding: 10px;
  display: block;
  color: #ed1144;
  font-size: 13px;
}

#cssmenu ul ul a:hover {
  color: #bd0e36;
}

#cssmenu ul ul li.odd {
  background: #f4f4f4;
}

#cssmenu ul ul li.even {
  background: #fff;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background-color: #e83f33!important;
    border-color: #e83f33!important;
}

@media (min-width: 768px)
{
    .offset-md-4 { margin-left: 33.333333%;} 
    .offset-md-3 { margin-left: 25%;}
    .offset-md-0 { margin-left: 0;}
    
}

@media (min-width: 576px)
{
    .offset-sm-2 { margin-left: 16.666667%;}
}


