
<template>
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <br><br>
                 <form class="form-horizontal" @submit.prevent="placeOrder" @keydown="order.onKeydown($event)">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="container">
                        <div class="row">
                            <div class="col-sm-7">
                                <h3 class="panel-title">Billing Address</h3>
                            </div>
                            <div class="col-sm-5">
                                <a href="" class="float-right" v-if="!isEmpty(address) && address.data.length > 0" style="color: #e83f33; font-size: 14px;" @click.prevent="showModal">Change</a>
                                <a href="" class="float-right" v-else style="color: orange; font-size: 14px;" @click.prevent="showModal">Add</a>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="panel-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12" v-for="(add, index) in address.data" :key="index">
                                    <div v-if="add.main == 'yes'">
                           
                            <div class="form-group">
                                <label for="name" class=" col-sm-5">{{add.firstname}} {{add.lastname}}</label>
                            </div>
                             <div class="form-group">
                                <label for="address" class="col-sm-5 ">{{add.address}}, {{add.city.name}}</label>
                            </div>
                              <div class="form-group">
                                <label for="phone" class="col-sm-5">{{add.phone}}</label>
                            </div>
                        </div>
                        </div>
                       </div>
                   </div>
                    </div>
                </div>

                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="container">
                        <h3 class="panel-title">Payment</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                         <div class="form-group">
                            <div class=" col-sm-5">
                            <input type="radio" name="payment" v-model="order.payment" value="cash">
                            <label for="name" >Cash</label>
                            </div>
                         </div>  
                         <div class="form-group">
                            <div class=" col-sm-5">
                            <input type="radio" name="payment" v-model="order.payment" value="card">
                            <label for="name" >Debit Card</label>
                            </div>
                         </div>  
                         </div>          
                    </div>
                </div>
                <button type="submit" class="btn btn-md btn-success float-right">Place Order</button>
                <br><br><br><br><br>
                </form>
            </div>

            <div class="col-md-4">
                <br><br>
                <div class="container">
                <div class="featured-box featured-box-primary text-left mt-3 mt-lg-4">
                        <div class="box-content">
                            <h4 class="heading-primary text-uppercase mb-3">Cart Totals</h4>
                            <div class="col"><hr class="tall mt-4"></div>
                            <table class="cart-totals" style="font-size: 14px;">
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th  style="padding-right: 20px;">
                                            Items in Cart 
                                        </th>
                                        <td>
                                            <span class="amount">{{items}}</span>
                                        </td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>
                                            Subtotal
                                        </th>
                                        <td>
                                            <span class="amount">₦{{total}}</span>
                                        </td>
                                    </tr>
                                    <tr class="shipping">
                                        <th>
                                            Shipping
                                        </th>
                                    </tr>
                                    <tr class="total">
                                        <th>
                                            <strong>Order Total</strong>
                                        </th>
                                        <td>
                                            <strong><span class="amount">₦{{total}}</span></strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                                    
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
<div class="modal fade" tabindex="-1" id="exampleModal" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" @click.prevent="closeModal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" v-if="!isEmpty(address) && address.data.length > 0">Addresses</h4>
        <h4 class="modal-title" v-else>Add Address</h4>
      </div>

    <form v-if="value" @submit.prevent="updateAdd" @keydown="onKeydown($event)">
      <div class="modal-body">
        <div class="container">
            <a href="" @click.prevent="addModal">Add Address</a>
             <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label class="mt-3">Default Address</label>
                    </div>
                     <div class="col-md-12" v-for="(add, index) in address.data" :key="index">
                        <input type="radio" class="border-grey" v-model="main" :value="add.id">
                        <label><strong>{{add.firstname}} {{add.lastname}}</strong></label>
                        <label style="color:grey; width:100%;">{{add.address}}, {{add.city.name}}</label>
                        <label style="color:grey;">{{add.phone}}</label>
                    </div>
                </div> 
            </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" @click.prevent="closeModal">Close</button>
        <button type="submit" class="btn btn-success">Use this address</button>
      </div>
    </form>

      <form v-else class="form-horizontal" @submit.prevent="onSubmit" @keydown="form.onKeydown($event)">
      <div class="modal-body">
        <div class="container">
            <alert-error :form="form"></alert-error>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label class="mt-3">Firstname</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" v-model="form.firstname" class="form-control border-grey" :class="{ 'is-invalid': form.errors.has('firstname') }">
                        <has-error :form="form" field="firstname"></has-error>
                    </div>
                </div> 
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label class="mt-3">Lastname</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" v-model="form.lastname" class="form-control border-grey" :class="{ 'is-invalid': form.errors.has('lastname') }">
                        <has-error :form="form" field="lastname"></has-error>
                    </div>
                </div> 
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label class="mt-3">Phone No</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" v-model="form.phone" class="form-control border-grey" :class="{'is-invalid': form.errors.has('phone') }">
                        <has-error :form="form" field="phone"></has-error>
                    </div>
                </div> 
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label class="mt-3">City</label>
                    </div>
                    <div class="col-md-10">
                       <select class="form-control border-grey" v-model="form.city" :class="{ 'is-invalid': form.errors.has('city') }">
                           <option value="">Select a City</option>
                           <option v-for="(cty, index) in cities.data" :key="index" :value="cty.id">{{cty.name}}</option>
                       </select>
                       <has-error :form="form" field="city"></has-error>
                    </div>
                </div> 
            </div>

             <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label class="mt-3">Address</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" v-model="form.add" class="form-control border-grey" :class="{'is-invalid': form.errors.has('add') }">
                        <has-error :form="form" field="add"></has-error>
                    </div>
                </div> 
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label class="mt-3">Type</label>
                    </div>
                    <div class="col-md-10">
                       <select class="form-control border-grey" v-model="form.type" :class="{ 'is-invalid': form.errors.has('type') }">
                           <option value="">Select a Type</option>
                            <option value="home">Home Address</option>
                            <option value="office">Office Address</option>
                       </select>
                       <has-error :form="form" field="type"></has-error>
                    </div>
                </div> 
            </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" @click.prevent="closeModal">Close</button>
        <button type="submit" class="btn btn-success">Save changes</button>
      </div>
    </form>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    </div>
</template>

<script>
    import { Form, HasError, AlertError, AlertSuccess } from 'vform'
    export default {
       props: ['array','total','items'],
        data(){
            return{
                value: false,
                form: new Form({
                    firstname: '',
                    lastname: '',
                    phone: '',
                    city: '',
                    add: '',
                    type: ''
                }),
                order: new Form({
                    payment:'',
                    address:''
                }),
                item: JSON.parse(this.array),
                cities: {},
                address: {},
                message: '',
                main: '',
               
            }
        },

        methods:{

             getCities(){
                axios.get('/api/cities').then(response => {
                    this.cities = response.data
                })
            },

            getAddress(){
                axios.get('/api/billings').then(response => {
                    this.address = response.data
                    this.order.address = this.filterAddress
                    if(!this.isEmpty(this.address) && this.address.data.length > 0)
                    {
                        this.value = true
                    }
                })
            },

             onSubmit(){
                this.form.post('/api/billings').then(({data})=> {
                    Swal.fire(
                        'Created!',
                        this.message = data.message,
                        'success'
                        )
                this.form.reset()
                this.form.clear()
                Fire.$emit('AfterCreate')
                $('#exampleModal').modal("hide");
                })
            },

            placeOrder(){
                this.order.post('checkout').then(({data})=>{
                    if(this.order.payment === 'card')
                    {
                        window.location.href = '/pay'
                    }

                    else{ window.location.href = '/dashboard/orders'}
                })
            },

            updateAdd(){
                axios.get('/api/billing/'+this.main).then( response => {
                    Fire.$emit('AfterCreate')
                    this.closeModal()
                })
            },

             showModal(){
                this.form.clear()
                this.form.reset()
                this.getCities()
                $('#exampleModal').modal('show')
            },

            addModal(){
                this.value = false
                this.form.clear()
                this.form.reset()
                this.getCities()
                $('#exampleModal').modal('show')
            },

            closeModal(){
                this.reset()
                this.form.clear()
                this.form.reset()
                this.value = true
                $('#exampleModal').modal('hide')
            },

            reset(){
                this.message = ''
            },

            isEmpty(obj){
                for(var key in obj){
                    if(obj.hasOwnProperty(key))
                        return false;
                }
                return true;
            },
        },

        created() {
          this.getAddress()
          Fire.$on('AfterCreate', () => {
              this.getAddress()
            }) 
        },

        computed: {
            filterAddress(){
               let i = 0
               for(i=0;i<this.address.data.length;i++)
               {
                  if(this.address.data[i].main === 'yes')
                    return this.address.data[i].id
                    break
               }
                
            }
        }
    }
</script>
