<template>
   <div class="main-container col2-left-layout">
    <div class="container">
      <div class="row">
        <div class="col-main col-sm-9 col-xs-12 col-sm-push-3">
         
          <div class="shop-inner">
            <div class="page-title">
              <h2>{{title}}</h2>
            </div>

            <div class="product-grid-area">

              <ul class="products-grid" v-if="!isEmpty(products) && products.data.length > 0">
                <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6 " v-for="(item, index) in products.data" :key="index">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area"> <a :title="item.name" :href="'/product/'+item.code">
                          <figure> <img class="first-img" :src="'/images/product/' + item.image"  :alt="item.name"> <img class="hover-img" :src="'/images/product/' + item.image" :alt="item.name"></figure>
                          </a> </div>
                       
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a :title="item.name" :href="'/product/'+item.code">{{item.name}} </a> </div>
                          <div class="item-content">
                          
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">₦{{item.price | numFormat }}</span> </span> </div>
                            </div>
                            <div class="pro-action">
                              <button @click="onSubmit(index)" class="add-to-cart" v-if="item.quantity > 0"><span> Add To Cart</span> </button>
                           
                             <button class="add-to-cart" disabled="" v-else> Add To Cart</button> 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
               <h3 class="text-center mt-7" v-else>No Data available</h3>
            </div>
            
           
            <div class="pagination-area">
              <pagination :data="products" @pagination-change-page="getProducts"></pagination>
            </div>
          </div>
        </div>

        <aside class="sidebar col-sm-3 col-xs-12 col-sm-pull-9">
          <div class="block shop-by-side">
            <div class="sidebar-bar-title">
              <h3>Shop By</h3>
            </div>
            <div class="block-content">
              <p class="block-subtitle">Shopping Options</p>
              <div class="layered-Category">
                <h2 class="saider-bar-title">Categories</h2>
                <div class="layered-content">
                  <ul class="">
                    <li v-for="(cat, index) in categories" :key="index">
                      <label :for="cat.name"><a href="" @click.prevent="onFilter(cat.id, cat.name, $event)">{{cat.name}}<span class="count">({{cat.total}})</span></a></label>
                    </li>
                  </ul>
                </div>
              </div>
             
          </div>
         
          
            </form>
          </div>
       
        </aside>
       
      </div>
    </div>
  </div>
</template>

<script>
    import { Form, HasError, AlertError, AlertSuccess } from 'vform'
    export default {
      props: ['cid','tag'],
      data(){
        return{
          cat:'',
          title:'',
          products: {},
          categories:{},
          category: [],
          form: new Form({
            id:'',
            name: '',
            price: '',
            quantity: '',
            merchant: '',
            slug: ''
          }),

        }
      },

      methods:{
        getProducts(page = 1){
          axios.get('/api/category/'+this.cat+'/products?page=' + page).then(response => {
            this.products = response.data
          })
        },

        getCategories(){
          axios.get('/api/category/list/'+this.cat).then(({data}) => {
            this.categories = data.data
          })
        },

        onSubmit(index){
          console.log(this.products.data[index].id)
          this.form.id = this.products.data[index].id
          this.form.name = this.products.data[index].name
          this.form.merchant =  this.products.data[index].merchant
          this.form.price = this.products.data[index].price
          this.form.quantity = 1
          this.form.post('/cart').then(response => {
            location.reload()
          })
        },

        onFilter(cat, name){
          this.cat = cat
          this.title = name
          Fire.$emit('AfterClick')
        },

         isEmpty(obj){
            for(var key in obj){
              if(obj.hasOwnProperty(key))
                return false;
            }
            return true;
          }
      },

        created() {
          this.cat = this.cid
          this.title = this.tag
          this.getProducts()
          this.getCategories()
          Fire.$on('AfterClick', () => {
            this.getProducts()
            this.getCategories()
          }) 
        },
    }
</script>
