<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card"  v-if="$gate.isMerchant()">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="card-title">Add Product</h3>
                            </div>
                            <div class="col-sm-6">
                                <router-link :to="{name: 'product'}" class="btn btn-success float-right" @click="">My Products</router-link>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form role="form" @submit.prevent="add" @keydown="form.onKeydown($event)" enctype="multipart/form-data">
                            <alert-error :form="form"></alert-error>
                              <div class="form-group">
                                <div class="row">
                                  <div class="col-md-12">
                                  <label>Product Name</label>
                                  <input type="text" v-model="form.name" class="form-control" placeholder="Product name" :class="{ 'is-invalid': form.errors.has('name') }">
                                  <has-error :form="form" field="name"></has-error>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                  <div class="col-md-6">
                                  <label>Product Price</label>
                                   <div class="input-group input-group-lg mb-3">
                                    <div class="input-group-prepend">
                                     <span class="input-group-text">
                                        ₦
                                    </span>
                                    </div>
                                  <input type="text" v-model="form.price" class="form-control" placeholder="Product price" :class="{ 'is-invalid': form.errors.has('price') }">
                                  <has-error :form="form" field="price"></has-error>
                                 </div>
                                    </div>
                                    <div class="col-md-6">
                                      <label>Product Quantity</label>
                                    <input type="text" v-model="form.quantity" class="form-control" placeholder="Product Quantity" :class="{ 'is-invalid': form.errors.has('quantity') }">
                                    <has-error :form="form" field="quantity"></has-error>
                                    </div>
                                </div>
                            </div>

                             <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                    <label>Product Category</label>
                                    <select v-model="form.cats" class="form-control" :class="{ 'is-invalid': form.errors.has('cats') }" @change="getSubcat($event)">
                                        <option value="">Choose a Category</option>
                                        <option v-for="(cat, index) in options.data" :key="index" :value="cat.id">{{cat.name}}</option>
                                    </select>
                                    <has-error :form="form" field="cats"></has-error>
                                   </div>
                                   <div class="col-md-6">
                                    <label>Product Subcategory</label>
                                    <select v-model="form.subcategory" class="form-control" :class="{ 'is-invalid': form.errors.has('subcategory') }">
                                        <option value="">Choose a Subcategory</option>
                                        <option v-for="(sub, index) in subcats.data" :key="index" :value="sub.id">{{sub.sub_name}}</option>
                                    </select>
                                    <has-error :form="form" field="subcategory"></has-error>
                                   </div>
                               </div>
                             </div>

                        <div class="form-group">
                            <label>Product Description</label>
                            <textarea class="form-control" v-model="form.description" rows="3" placeholder="Product Description" :class="{ 'is-invalid': form.errors.has('description') }"></textarea>
                            <has-error :form="form" field="description"></has-error>
                        </div>

                        <div class="form-group">
                        <label for="exampleInputFile">Picture Upload</label>
                        <b-form-file  placeholder="Choose a file..." drop-placeholder="Select an image..." v-model="form.image" accept=".jpg, .png, .gif"></b-form-file>
                        <has-error :form="form" field="image"></has-error>
                       </div>

                       <div class="form-group">
                           <button type="submit" class="btn btn-primary float-right">Add Product</button>
                       </div>

                        </form>
                    </div>
                </div>

                <div v-if="!$gate.isMerchant()">
              <not-found></not-found>
            </div>

            </div>
        </div>
    </div>
</template>

<script>
    import { Form, HasError, AlertError, AlertSuccess } from 'vform'
    export default {
        data(){
            return{
                options: {},
                subcats: {},
                form: new Form({
                    name: '',
                    description: '',
                    price: '',
                    quantity: '',
                    image: null,
                    cats: '',
                    subcategory: ''
                }),
            }
        },

        created() {
            this.getCategories()
        },

        methods: {
            getCategories(){
                if(this.$gate.isMerchant())
                {
                     axios.get('/api/categories').then(response => {
                        this.options = response.data
                    }).catch(() => {
                        Swal.fire("Failed", "There was something wrong, please try again.", "warning")
                    });
                }
               
            },

            getSubcat(event){
                let id = event.target.value
                axios.get('/api/category/subcat/'+id).then(response => {
                    this.subcats = response.data
                }).catch(() => {
                    Swal.fire("Failed", "There was something wrong, please try again.", "warning")
                });
            },

            add()
            {
                if(this.$gate.isMerchant())
                {
                   this.form.submit('post', '/api/products', {
                    transformRequest: [function (data, headers) {
                        return objectToFormData(data)}],
                    }).then(response => {
                        Swal.fire(
                            'Created!',
                            this.message = response.data.message,
                            'success'
                            )
                        this.form.reset()
                        this.form.clear()
                        this.form.image = null
                    }).catch(() => {
                        Swal.fire("Failed", "There was something wrong, please try again.", "warning")
                    }); 
                }
                
            }
        }
    }
</script>
