<template>
    <div class="container">

      <div class="card" v-if="$gate.isAdmin() || $gate.isCustomer()">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-6">
                <h3 class="card-title">Addresses</h3>
                  </div>
                  <div class="col-sm-6">
                <button v-if="$gate.isCustomer()" type="button" class="btn btn-success float-right" @click.prevent="showModal">
                  Add Address
                  </button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>City</th>
                      <th>Address</th>
                      <th>Phone No</th>
                      <th>Type</th>
                      <th>Main</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                    <tr v-for="(add, index) in address.data" :key="index">
                      <td>{{add.firstname}}</td>
                      <td>{{add.lastname}}</td>
                      <td>{{add.city.name}}</td>
                      <td>{{add.address}}</td>
                      <td>{{add.phone}}</td>
                      <td>{{add.type}}</td>
                      <td>{{add.main}}</td>
                      <td>
                        <button type="button" class="btn btn-primary" @click.prevent="editData(add.id)"> Edit</button>
                        <button type="button" class="btn btn-danger" @click.prevent="deleteData(add.id)"> Delete</button>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->

                  <div class="card-footer">
                   <pagination :data="address" @pagination-change-page="getAddress"></pagination>
                </div>
              
            </div>

            <div v-if="!$gate.isAdmin() && !$gate.isCustomer()">
              <not-found></not-found>
            </div>


      <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" v-if="title">{{title}}</h5>
        <h5 class="modal-title" id="exampleModalLabel"  v-else>Add Address</h5>
        <button type="button" class="close" @click.prevent="closeModal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form v-if="title" class="form-horizontal" @submit.prevent="updateData" @keydown="form.onKeydown($event)">
      <div class="modal-body">
        <alert-error :form="form"></alert-error>
                <div class="card-body">

                   <div class="form-group">
                      <div class="row">
                          <div class="col-md-6">
                              <label>First Name</label>
                              <input type="text" v-model="form.firstname" class="form-control" placeholder="First name" :class="{ 'is-invalid': form.errors.has('firstname') }">
                                  <has-error :form="form" field="firstname"></has-error>
                          </div>
                          <div class="col-md-6">
                              <label>Last Name</label>
                              <input type="text" v-model="form.lastname" class="form-control" placeholder="Last name" :class="{ 'is-invalid': form.errors.has('lastname') }">
                                  <has-error :form="form" field="lastname"></has-error>
                          </div>
                      </div>
                  </div>

                   <div class="form-group">
                      <div class="row">
                          <div class="col-md-6">
                              <label>Phone No</label>
                              <input type="text" v-model="form.phone" class="form-control" placeholder="Phone Number"  :class="{'is-invalid': form.errors.has('phone') }">
                              <has-error :form="form" field="phone"></has-error>
                          </div>
                               <div class="col-md-6">
                              <label>City</label>
                              <select class="form-control" v-model="form.city" :class="{ 'is-invalid': form.errors.has('city') }">
                                  <option value="">Select a City</option>
                                  <option v-for="(cty, index) in cities.data" :key="index" :value="cty.id">{{cty.name}}</option>
                              </select>
                              <has-error :form="form" field="city"></has-error>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label>Address</label>
                      <input type="text" v-model="form.add" class="form-control" placeholder="Address" :class="{'is-invalid': form.errors.has('add') }">
                       <has-error :form="form" field="add"></has-error>
                  </div>

                    <div class="form-group">
                      <label>Type</label>
                      <select class="form-control" v-model="form.type" :class="{ 'is-invalid': form.errors.has('type') }">
                                  <option value="">Select a type</option>
                                  <option value="home">Home Address</option>
                                  <option value="office">Office Address</option>
                              </select>
                       <has-error :form="form" field="type"></has-error>
                  </div>

               
                </div>
                <!-- /.card-body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" @click.prevent="closeModal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
      </form>

       <form v-else class="form-horizontal" @submit.prevent="onSubmit" @keydown="form.onKeydown($event)">
       <div class="modal-body">
        <alert-error :form="form"></alert-error>
                <div class="card-body">
                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-6">
                              <label>First Name</label>
                              <input type="text" v-model="form.firstname" class="form-control" placeholder="First name" :class="{ 'is-invalid': form.errors.has('firstname') }">
                                  <has-error :form="form" field="firstname"></has-error>
                          </div>
                          <div class="col-md-6">
                              <label>Last Name</label>
                              <input type="text" v-model="form.lastname" class="form-control" placeholder="Last name" :class="{ 'is-invalid': form.errors.has('lastname') }">
                                  <has-error :form="form" field="lastname"></has-error>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-6">
                              <label>Phone No</label>
                              <input type="text" v-model="form.phone" class="form-control" placeholder="Phone Number"  :class="{'is-invalid': form.errors.has('phone') }">
                              <has-error :form="form" field="phone"></has-error>
                          </div>
                               <div class="col-md-6">
                              <label>City</label>
                              <select class="form-control" v-model="form.city" :class="{ 'is-invalid': form.errors.has('city') }">
                                  <option value="">Select a City</option>
                                  <option v-for="(cty, index) in cities.data" :key="index" :value="cty.id">{{cty.name}}</option>
                              </select>
                              <has-error :form="form" field="city"></has-error>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label>Address</label>
                      <input type="text" v-model="form.add" class="form-control" placeholder="Address" :class="{'is-invalid': form.errors.has('add') }">
                       <has-error :form="form" field="add"></has-error>
                  </div>

                    <div class="form-group">
                      <label>Type</label>
                      <select class="form-control" v-model="form.type" :class="{ 'is-invalid': form.errors.has('type') }">
                                  <option value="">Select a type</option>
                                  <option value="home">Home Address</option>
                                  <option value="office">Office Address</option>
                              </select>
                       <has-error :form="form" field="type"></has-error>
                  </div>
                </div>
                <!-- /.card-body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" @click.prevent="closeModal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
      </form>

    </div>
  </div>
</div>
      </div>
</template>

<script>
    import { Form, HasError, AlertError, AlertSuccess } from 'vform'
    export default {
        data(){
            return{
                form: new Form({
                    firstname: '',
                    lastname: '',
                    phone: '',
                    city: '',
                    add: '',
                    type: ''
                }),

                cities: {},
                address: {},
                message: '',
                title: '',
                id: ''
            }
        },

        created() {
            this.getAddress()
            Fire.$on('AfterCreate', () => {
                this.getAddress()
            })
        },

        methods: {

            getAddress(page = 1){
                axios.get('/api/billings?page=' + page).then(response => {
                    this.address = response.data
                })
            },

            getCities(){
                axios.get('/api/cities').then(response => {
                    this.cities = response.data
                })
            },

            showModal(){
                this.form.clear()
                this.form.reset()
                this.getCities()
                $('#exampleModal').modal('show')
            },

            closeModal(){
                this.reset()
                this.form.clear()
                this.form.reset()
                $('#exampleModal').modal('hide')
            },

            onSubmit(){
                this.form.post('/api/billings').then(({data})=> {
                    Swal.fire(
                        'Created!',
                        this.message = data.message,
                        'success'
                        )
                this.form.reset()
                this.form.clear()
                Fire.$emit('AfterCreate')
                $('#exampleModal').modal("hide");
                })
            },

            editData(id){
              this.title = 'Edit Address'
              axios.get('/api/billings/'+id).then(({data}) => {
                this.id = id
                this.form.firstname = data.data.firstname
                this.form.lastname = data.data.lastname
                this.form.phone = data.data.phone
                this.form.add = data.data.address
                this.form.type = data.data.type
                this.form.city = data.data.city.id
                this.getCities()
                $('#exampleModal').modal("show")
              })

            },

            updateData(){
              this.form.put('/api/billings/'+this.id).then(response => {
                this.closeModal()
                Swal.fire("Updated", this.message = response.data, "success")
                Fire.$emit('AfterCreate')
              })
            },

            deleteData(id){
              Swal.fire({
            title: 'Do you want to delete this address?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
            }).then((result)=> {
              if(result.value){
                axios.delete('/api/billings/'+id).then(response => {
                  Swal.fire(
                    "Deleted",
                    this.message = response.data,
                    "success"
                    )
                  Fire.$emit('AfterCreate')
                }).catch(() => {
                  Swal.fire("Failed", "something went wrong, please try again", "warning")
                })
              }
            })
          },

            reset(){
                this.message = ''
                this.title = ''
            }
        }
    }
</script>
