<template>
      <div class="container">

      <div class="card" v-if="$gate.isAdmin()">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-6">
                <h3 class="card-title">Categories</h3>
                  </div>
                  <div class="col-sm-6">
                <button type="button" class="btn btn-success float-right" @click.prevent="showModal">
                  Add Category
                  </button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th>#</th>
                      <th>Category Name</th>
                      <th>Category Slug</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                    <tr v-for="(cat, index) in categories.data" :key="index">
                      <td>{{index + 1}}</td>
                      <td>{{cat.name}}</td>
                      <td>{{cat.slug}}</td>
                      <td>
                        <button type="button" class="btn btn-primary" @click.prevent="editCat(cat.id)"> Edit</button>
                        <button type="button" class="btn btn-danger" v-if="cat.status == 1" @click.prevent="deleteCat(cat.id)"> Deactivate</button>
                        <button type="button" class="btn btn-success" v-else @click.prevent="deleteCat(cat.id)"> Activate</button>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                   <pagination :data="categories" @pagination-change-page="getResults"></pagination>
                </div>
              
            </div>

            <div v-if="!$gate.isAdmin()">
              <not-found></not-found>
            </div>


      <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" v-if="title">{{title}}</h5>
        <h5 class="modal-title" id="exampleModalLabel"  v-else>Add Category</h5>
        <button type="button" class="close" @click.prevent="closeModal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form v-if="title" class="form-horizontal" @submit.prevent="updateCat" @keydown="form.onKeydown($event)">
      <div class="modal-body">
        <alert-error :form="form"></alert-error>
                <div class="card-body">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-6 control-label">Category Name</label>

                    <div class="col-sm-12">
                      <input type="text" class="form-control"  name="name" placeholder="Category Name" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" value="">
                    <has-error :form="form" field="name"></has-error>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-6 control-label">slug</label>

                    <div class="col-sm-12">
                      <input type="text" class="form-control" name="slug"  placeholder="slug" v-model="form.slug" :class="{ 'is-invalid': form.errors.has('slug') }">
                      <has-error :form="form" field="slug"></has-error>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" @click.prevent="closeModal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
      </form>

       <form v-else class="form-horizontal" @submit.prevent="onSubmit" @keydown="form.onKeydown($event)">
      <div class="modal-body">
        <alert-error :form="form"></alert-error>
                <div class="card-body">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-6 control-label">Category Name</label>

                    <div class="col-sm-12">
                      <input type="text" class="form-control"  name="name" placeholder="Category Name" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }">
                    <has-error :form="form" field="name"></has-error>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-6 control-label">slug</label>

                    <div class="col-sm-12">
                      <input type="text" class="form-control" name="slug"  placeholder="slug" v-model="form.slug" :class="{ 'is-invalid': form.errors.has('slug') }" >
                      <has-error :form="form" field="slug"></has-error>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" @click.prevent="closeModal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
      </form>

    </div>
  </div>
</div>
      </div>
</template>

<script>
    import { Form, HasError, AlertError, AlertSuccess } from 'vform'
    export default {
        data(){
            return{
                categories: {},
                form: new Form({
                    name: '',
                    slug: ''
                }),
                title: '',
                eid: '',
                message: ''
            }
        },

        created() {
            this.getCategories();
            Fire.$on('AfterCreate', () => {
              this.getCategories()
            }) 
        },

        methods: {

          getCategories() {
            if(this.$gate.isAdmin()){
              axios.get('/api/categories').then(({ data }) => {
                this.categories = data;
              }); 
            }
          },

        getResults(page = 1){
          axios.get('/api/categories?page=' + page)
          .then(response => {
            this.categories = response.data;
            });
        },
        
        showModal() {
           this.reset()
           this.form.reset()
          $('#exampleModal').modal("show")
        },
       closeModal() {
          this.reset()
          this.form.clear()
         $('#exampleModal').modal("hide")
       },

       onSubmit() {
            this.reset()
            this.form.post('/api/categories').then(response => {
               Swal.fire(
                  'Created!',
                  this.message = response.data.message,
                  'success'
                  )
                this.form.reset()
                Fire.$emit('AfterCreate')
                $('#exampleModal').modal("hide")
            })
        },

        deleteCat(id){
          Swal.fire({
            title: 'Do you want to change category status?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, change it!'
            }).then((result)=> {
              if(result.value){
                axios.delete('/api/categories/'+id).then(response => {
                  Swal.fire(
                    "Changed",
                    this.message = response.data,
                    "success"
                    )
                  Fire.$emit('AfterCreate')
                }).catch(() => {
                  Swal.fire("Failed", "something went wrong, please try again", "warning")
                })
              }
            })
        },

        editCat(id){
          this.title = 'Edit Category'
          axios.get('/api/categories/'+id).then(({data}) => {
            this.eid = id
            this.form.name = data.data.name
            this.form.slug = data.data.slug
            $('#exampleModal').modal("show")
          }).catch(() => {
            Swal.fire("Failed", "something went wrong, please try again", "warning")
          })
        },

        updateCat(){
          this.form.put('/api/categories/'+this.eid).then(response => {
            this.closeModal()
            Swal.fire("Updated", this.message = response.data, "success")
            Fire.$emit('AfterCreate')
          })
        },

       reset(){
          this.title = ''
          this.message = ''
        }
        }
    }
</script>
