<template>
   <div class="container">

      <div class="card" v-if="$gate.isAdmin()">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-6">
                <h3 class="card-title">Cities</h3>
                  </div>
                  <div class="col-sm-6">
                <button type="button" class="btn btn-success float-right" @click.prevent="showModal">
                  Add City
                  </button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th>#</th>
                      <th>City Name</th>
                      <th>Country Name</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                    <tr v-for="(loc, index) in locations.data" :key="index">
                      <td>{{index + 1}}</td>
                      <td>{{loc.name}}</td>
                      <td>{{loc.country.name}}</td>
                      <td>
                        <button type="button" class="btn btn-primary" @click.prevent="editData(loc.id)"> Edit</button>
                        <button type="button" class="btn btn-danger" v-if="loc.status == 1" @click.prevent="deleteData(loc.id)"> Deactivate</button>
                        <button type="button" class="btn btn-success" v-else @click.prevent="deleteData(loc.id)"> Activate</button>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->

                  <div class="card-footer">
                   <pagination :data="locations" @pagination-change-page="getResults"></pagination>
                </div>
              
            </div>

            <div v-if="!$gate.isAdmin()">
              <not-found></not-found>
            </div>


      <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" v-if="title">{{title}}</h5>
        <h5 class="modal-title" id="exampleModalLabel"  v-else>Add City</h5>
        <button type="button" class="close" @click.prevent="closeModal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form v-if="title" class="form-horizontal" @submit.prevent="updateData" @keydown="form.onKeydown($event)">
      <div class="modal-body">
        <alert-error :form="form"></alert-error>
                <div class="card-body">
                  <div class="form-group">
                    <label for="countryName" class="col-sm-4 control-label">City Name</label>

                    <div class="col-sm-12">
                      <input type="text" class="form-control"  name="name" placeholder="City Name" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" value="">
                    <has-error :form="form" field="name"></has-error>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Country</label>

                    <div class="col-sm-12">
                      <select class="form-control" name="country" v-model="form.country" :class="{ 'is-invalid': form.errors.has('country') }">
                        <option value="">Choose a Country</option>
                        <option v-for="(ctry, index) in countries" :key="index" :value="ctry.id">{{ctry.name}}</option>
                      </select>
                    <has-error :form="form" field="country"></has-error>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" @click.prevent="closeModal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
      </form>

       <form v-else class="form-horizontal" @submit.prevent="onSubmit" @keydown="form.onKeydown($event)">
       <div class="modal-body">
        <alert-error :form="form"></alert-error>
                <div class="card-body">
                  <div class="form-group">
                    <label for="countryName" class="col-sm-4 control-label">City Name</label>

                    <div class="col-sm-12">
                      <input type="text" class="form-control"  name="name" placeholder="City Name" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" value="">
                    <has-error :form="form" field="name"></has-error>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Country</label>

                    <div class="col-sm-12">
                      <select class="form-control" name="country" v-model="form.country" :class="{ 'is-invalid': form.errors.has('country') }">
                        <option value="">Choose a Country</option>
                        <option v-for="(ctry, index) in countries" :key="index" :value="ctry.id">{{ctry.name}}</option>
                      </select>
                    <has-error :form="form" field="country"></has-error>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" @click.prevent="closeModal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
      </form>

    </div>
  </div>
</div>
      </div>
</template>

<script>
    import { Form, HasError, AlertError, AlertSuccess } from 'vform'
    export default {
        data() {
            return {
                countries: [],
                locations: {},
                form: new Form({
                    name: '',
                    country: ''
                }),

                title: '',
                lid: '',
                message: ''
            }
        },

        created() {
            this.getCities()
            Fire.$on('AfterCreate', () => {
              this.getCities()
            })
        },

        methods: {
            getCities(){
              if(this.$gate.isAdmin())
              {
                axios.get('/api/cities').then(response => {
                    this.locations = response.data
                })
              }             
            },

            getResults(page = 1){
                axios.get('/api/cities?page='+page).then(response => {
                    this.locations = response.data
                })
            },

            getCountries(){
                axios.get('/api/country').then(response => {
                    this.countries = response.data.data
                })
            },

            showModal(){
                this.reset()
                this.form.reset()
                this.form.clear()
                this.getCountries()
                $('#exampleModal').modal('show')
            },

            closeModal(){
                this.reset()
                this.form.reset()
                this.form.clear()
                $('#exampleModal').modal('hide')
            },

            onSubmit() {
                this.reset();
                this.form.post('/api/city/add').then(({data}) => {
                    Swal.fire(
                        'Created!',
                        this.message = data.message,
                        'success'
                        )
                this.form.reset();
                Fire.$emit('AfterCreate')
                $('#exampleModal').modal("hide");
                }).catch(() => {
                    swal("Failed!", "There was something wrong, please try again.", "warning");
                  });
            },

            deleteData(id){

              Swal.fire({
                  title: 'Do you want to change city status?',
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, change it!'
                  }).then((result)=> {
                    if(result.value){
                      axios.delete('/api/city/'+id).then(response => {
                        Swal.fire(
                          "Changed",
                          this.message = response.data,
                          "success"
                          )
                        Fire.$emit('AfterCreate')
                      }).catch(() => {
                        Swal.fire("Failed", "something went wrong, please try again", "warning")
                      })
                    }
                  })
            },

            editData(id){
               this.title = 'Edit City'
                 axios.get('/api/city/'+id).then(({data}) => {
                  this.lid = id
                  this.form.name = data.data.name
                  this.form.country = data.data.country.id
                  $('#exampleModal').modal("show")
                  this.getCountries()
                }).catch(() => {
                  Swal.fire("Failed", "something went wrong, please try again", "warning")
                })
              },

              updateData(){
                this.form.put('/api/city/'+this.lid).then(response => {
                  if(response.status == 200){
                  this.closeModal()
                  Swal.fire("Updated", this.message = response.data, "success")
                  Fire.$emit('AfterCreate')
                }
                })
              },

            reset(){
                this.title = ''
                this.message = ''
            }

        }
    }
</script>
