<template>
   <div class="container">

      <div class="card" v-if="$gate.isAdmin()">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-6">
                <h3 class="card-title">Countries</h3>
                  </div>
                  <div class="col-sm-6">
                <button type="button" class="btn btn-success float-right" @click.prevent="showModal">
                  Add Country
                  </button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th>#</th>
                      <th>Country Name</th>
                      <th>Country Code</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                    <tr v-for="(ctry, index) in countries.data" :key="index">
                      <td>{{index + 1}}</td>
                      <td>{{ctry.name}}</td>
                      <td>{{ctry.code}}</td>
                      <td>
                        <button type="button" class="btn btn-primary" @click.prevent="editData(ctry.id)"> Edit</button>
                        <button type="button" class="btn btn-danger" v-if="ctry.status == 1" @click.prevent="deleteData(ctry.id)"> Deactivate</button>
                        <button type="button" class="btn btn-success" v-else @click.prevent="deleteData(ctry.id)"> Activate</button>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->

                <div class="card-footer">
                   <pagination :data="countries" @pagination-change-page="getResults"></pagination>
                </div>
              
            </div>

            <div v-if="!$gate.isAdmin()">
              <not-found></not-found>
            </div>



      <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" v-if="title">{{title}}</h5>
        <h5 class="modal-title" id="exampleModalLabel"  v-else>Add Country</h5>
        <button type="button" class="close" @click.prevent="closeModal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form v-if="title" class="form-horizontal" @submit.prevent="update" @keydown="form.onKeydown($event)">
      <div class="modal-body">
        <alert-error :form="form"></alert-error>
                <div class="card-body">
                  <div class="form-group">
                    <label for="countryName" class="col-sm-4 control-label">Country Name</label>

                    <div class="col-sm-12">
                      <input type="text" class="form-control"  name="name" placeholder="Country Name" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" value="">
                    <has-error :form="form" field="name"></has-error>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="countryCode" class="col-sm-4 control-label">Code</label>

                    <div class="col-sm-12">
                      <input type="text" class="form-control" name="code"  placeholder="Country Code" v-model="form.code" :class="{ 'is-invalid': form.errors.has('code') }">
                      <has-error :form="form" field="code"></has-error>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" @click.prevent="closeModal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
      </form>

       <form v-else class="form-horizontal" @submit.prevent="onSubmit" @keydown="form.onKeydown($event)">
      <div class="modal-body">
        <alert-error :form="form"></alert-error>
                <div class="card-body">
                  <div class="form-group">
                    <label for="countryName" class="col-sm-4 control-label">Country Name</label>

                    <div class="col-sm-12">
                      <input type="text" class="form-control"  name="name" placeholder="Country Name" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }">
                    <has-error :form="form" field="name"></has-error>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="countryCode" class="col-sm-4 control-label">code</label>

                    <div class="col-sm-12">
                      <input type="text" class="form-control" name="code"  placeholder="Country Code" v-model="form.code" :class="{ 'is-invalid': form.errors.has('code') }" >
                      <has-error :form="form" field="code"></has-error>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" @click.prevent="closeModal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
      </form>

    </div>
  </div>
</div>
      </div>
</template>

<script>
    import { Form, HasError, AlertError, AlertSuccess } from 'vform'
    export default {
        data() {
            return {
                countries: {},
                form: new Form({
                    name: '',
                    code: ''
                }),

                title: '',
                cid: '',
                message: ''
            }
        },

        methods: {
            getCountries(){
              if(this.$gate.isAdmin())
              {
                axios.get('/api/countries').then(response => {
                    this.countries = response.data
                })
              }     
            },

            getResults(page = 1){
                axios.get('/api/countries?page=' + page).then(response => {
                    this.countries = response.data;
                });
            },

            showModal() {
                this.reset()
                this.form.reset()
                this.form.clear()
                $('#exampleModal').modal("show")
            },

            closeModal() {
                this.reset()
                this.form.reset()
                this.form.clear()
                $('#exampleModal').modal("hide")
            },

            reset(){
             this.title = ''
             this.message = ''
            },

            onSubmit(){
                    this.reset();
                    this.form.post('/api/country/add').then(response => {
                    Swal.fire(
                      'Created!',
                      this.message = response.data.message,
                      'success'
                      )
                    this.form.reset();
                    Fire.$emit('AfterCreate')
                    $('#exampleModal').modal("hide");
                }).catch(() => {
                    swal("Failed!", "There was something wrong, please try again.", "warning");
                    });
            },

             deleteData(id){
                Swal.fire({
                  title: 'Do you want to change country status?',
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, change it!'
                  }).then((result)=> {
                    if(result.value){
                      axios.delete('/api/country/'+id).then(response => {
                        Swal.fire(
                          "Changed",
                          this.message = response.data,
                          "success"
                          )
                        Fire.$emit('AfterCreate')
                      }).catch(() => {
                        Swal.fire("Failed", "something went wrong, please try again", "warning")
                      })
                    }
                  })
              },

              editData(id){
                 this.title = 'Edit Country'
                 axios.get('/api/country/'+id).then(({data}) => {
                  this.cid = id
                  this.form.name = data.data.name
                  this.form.code = data.data.code
                  $('#exampleModal').modal("show")
                }).catch(() => {
                  Swal.fire("Failed", "something went wrong, please try again", "warning")
                })
              },

              update(){
                this.form.put('/api/country/'+this.cid).then(response => {
                  this.closeModal()
                  Swal.fire("Updated", this.message = response.data, "success")
                  Fire.$emit('AfterCreate')
                })
              }

        },

        created() {
            this.getCountries()
            Fire.$on('AfterCreate', () => {
              this.getCountries()
            }) 
        }
    }
</script>
