<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Order Details</h3>
                    </div>

                    <div class="card-body">
                        <div>
                        <b>Order No:</b> {{details.number}}
                        <br><br>
                        <b>{{details.qty}} Item(s)</b>
                        <br>
                        <b>Placed:</b> {{details.date | dateFormat}}
                        <br>
                        <b>Total:</b> ₦{{details.total | numFormat}}
                        </div>
                        <br>
                        <h5 class="lead">Item(s) in your order</h5>
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product Name</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, index) in details.detail" :key="index">
                                            <td style="width:10%"><img :src="'/images/product/thumbnail/' + item.product.image" class="img-circle img-fluid"></td>
                                            <td>{{item.product.name}}</td>
                                            <td>{{item.qty}}</td>
                                            <td>₦{{item.total | numFormat}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <div class="col-6">
                                <p class="lead">Payment Information</p>
                                <b>Payment Method:</b> {{details.type | upText}}
                                <br><br>
                                <b>Payment Details</b>
                                <br>
                                <span>Items total: ₦{{details.total | numFormat}}</span>
                                <br>
                                <b>Total: ₦{{details.total | numFormat}}</b>
                            </div>
                            <div class="col-6">
                                <p class="lead">Delivery Information</p>
                                <b>Delivery Method:</b> Standard Door Delivery
                                <br><br>
                                <b>Shipping Address</b>
                                <br>
                                <span> {{bill.firstname | upText}} {{bill.lastname | upText}} </span>
                                <br>
                                <span>{{bill.address}}</span>
                                <br>
                                <span>{{city.name | upText}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data()
        {
            return {
                details:{},
                bill: [],
                city: [],
                num: ''
            }
        },

        created() {
            if(this.$gate.isCustomer() || this.$gate.isMerchant() && this.$route.params.num != null)
            {
                this.num = this.$route.params.num
                this.getDetails()
            }
            else{
            this.$router.push({path: '/dashboard/orders'})
           }
            
        },

        methods: {
            getDetails(){
                axios.get('/api/order/details/'+this.num).then(({data}) => {
                    this.details = data.data
                    this.bill = data.data.billing
                    this.city = this.bill.city
                })
            }
        }
    }
</script>
