<template>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="card-title">Edit {{form.name}}</h3>
                            </div>
                            <div class="col-sm-6">
                                <router-link :to="{name: 'product'}" class="btn btn-success float-right" @click="">My Products</router-link>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form role="form" @submit.prevent="edit" @keydown="form.onKeydown($event)" enctype="multipart/form-data">
                            <alert-error :form="form"></alert-error>
                              <div class="form-group">
                                <div class="row">
                                  <div class="col-md-12">
                                  <label>Product Name</label>
                                  <input type="text" v-model="form.name" class="form-control" placeholder="Product name" :class="{ 'is-invalid': form.errors.has('name') }">
                                  <has-error :form="form" field="name"></has-error>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                  <div class="col-md-6">
                                  <label>Product Price</label>
                                   <div class="input-group input-group-lg mb-3">
                                    <div class="input-group-prepend">
                                     <span class="input-group-text">
                                        ₦
                                    </span>
                                    </div>
                                  <input type="text" v-model="form.price" class="form-control" placeholder="Product price" :class="{ 'is-invalid': form.errors.has('price') }">
                                  <has-error :form="form" field="price"></has-error>
                                 </div>
                                    </div>
                                    <div class="col-md-6">
                                      <label>Product Quantity</label>
                                    <input type="text" v-model="form.quantity" class="form-control" placeholder="Product Quantity" :class="{ 'is-invalid': form.errors.has('quantity') }">
                                    <has-error :form="form" field="quantity"></has-error>
                                    </div>
                                </div>
                            </div>

                             <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                    <label>Product Category</label>
                                    <select v-model="form.cats" class="form-control" :class="{ 'is-invalid': form.errors.has('cats') }" @change="getSubcat($event)">
                                        <option value="">Choose a Category</option>
                                        <option v-for="(cat, index) in options.data" :key="index" :value="cat.id">{{cat.name}}</option>
                                    </select>
                                    <has-error :form="form" field="cats"></has-error>
                                   </div>
                                   <div class="col-md-6">
                                    <label>Product Subcategory</label>
                                    <select v-model="form.subcategory" class="form-control" :class="{ 'is-invalid': form.errors.has('subcategory') }">
                                        <option value="">Choose a Subcategory</option>
                                        <option v-for="(sub, index) in subcats.data" :key="index" :value="sub.id">{{sub.sub_name}}</option>
                                    </select>
                                    <has-error :form="form" field="subcategory"></has-error>
                                   </div>
                               </div>
                             </div>

                        <div class="form-group">
                            <label>Product Description</label>
                            <textarea class="form-control" v-model="form.description" rows="3" placeholder="Product Description" :class="{ 'is-invalid': form.errors.has('description') }"></textarea>
                            <has-error :form="form" field="description"></has-error>
                        </div>

                       <div class="form-group">
                           <button type="submit" class="btn btn-primary float-right">Edit Product</button>
                       </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { Form, HasError, AlertError, AlertSuccess } from 'vform'
    export default {
        data(){
            return{
                options: {},
                subcats: {},
                product: {},
                message: '',
                image: null,
                form: new Form({
                    name: '',
                    description: '',
                    price: '',
                    quantity: '',
                    image: null,
                    cats: '',
                    subcategory: ''
                }),
            }
        },

        created() {
           if(this.$route.params.id != null)
           {
             this.getProduct()
             this.getCategories()
           }
           else{
            this.$router.push({path: '/dashboard/products'})
           }
           
        },

        methods:{

            getProduct(){
                let id = this.$route.params.id
                axios.get('/api/products/'+id).then(({data}) => {
                    this.form.name = data.data.name
                    this.form.description = data.data.desc
                    this.form.price = data.data.price
                    this.form.quantity = data.data.quantity
                    this.image = data.data.image
                }).catch(() => {
                    Swal.fire("Failed", "Something went wrong, please try again",  "warning")
                })
            },

            getCategories(){
                axios.get('/api/categories').then(response => {
                    this.options = response.data
                }).catch(() => {
                    Swal.fire("Failed", "Something went wrong, please try again",  "warning")
                })
            },

            getSubcat(event){
                let id = event.target.value
                axios.get('/api/category/subcat/'+id).then(response => {
                    this.subcats = response.data
                }).catch(() => {
                    Swal.fire("Failed", "There was something wrong, please try again.", "warning")
                });
            },

            edit()
            {
              let uri = '/api/product/edit/'+this.$route.params.id
              this.form.submit('post', uri, {
                transformRequest: [function (data, headers) {
                        return objectToFormData(data)
                    }],
                  }).then(response => {
                    this.$router.push({path: '/dashboard/products'})
                    Swal.fire(
                      "Edited",
                      this.message = response.data,
                      "success"
                      )
                  }).catch(()=> {
                    Swal.fire("Failed", "There was something wrong, please try again.", "warning")
                  })
            }

        }
    }
</script>
