<template>
     <div class="container">

      <div class="card" v-if="$gate.isCustomer()">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-6">
                <h3 class="card-title">My Orders</h3>
                  </div>
                  <div class="col-sm-6">
                
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th>Order Date</th>
                      <th>Order Number</th>
                      <th>Quantity</th>
                      <th>Payment Type</th>
                      <th>Total</th>
                      <th>Order Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                    <tr v-for="(item, index) in orders.data" :key="index">
                      <td>{{item.date | dateFormat}}</td>
                      <td>{{item.number}}</td>
                      <td>{{item.qty}}</td>
                      <td>{{item.type}}</td>
                      <td>₦{{item.total | numFormat}}</td>
                      <td>{{item.status}}</td>
                      <td>
                         <router-link :to="{name: 'details', params: { num: item.number }}" class="btn btn-sm btn-primary" style="color:#fff!important;"><i class="fas fa-eye"></i>View</router-link>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                   <pagination :data="orders" @pagination-change-page="getResults"></pagination>
                </div>
              
            </div>


             <div class="card" v-if="$gate.isMerchant()">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-6">
                <h3 class="card-title">Orders</h3>
                  </div>
                  <div class="col-sm-6">
                
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th>Order Date</th>
                      <th>Order Number</th>
                      <th>Quantity</th>
                      <th>Total</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                    <tr v-for="(item, index) in sales.data" :key="index">
                      <td>{{item.date | dateFormat}}</td>
                      <td>{{item.number}}</td>
                      <td>{{item.qty}}</td>
                      <td>{{item.total | numFormat}}</td>
                      <td>
                        <router-link :to="{name: 'details', params: { num: item.number }}" class="btn btn-sm btn-primary" style="color:#fff!important;"><i class="fas fa-eye"></i>View</router-link>
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                   <pagination :data="sales" @pagination-change-page="getResults"></pagination>
                </div>
              
            </div>


      </div>
</template>

<script>
    export default {
        data(){
            return{
                orders: {},
                sales: {},
                uri: ''
            }
        },

        created() {
            if(this.$gate.isCustomer())
            {
                this.customerOrders()
            }

            if(this.$gate.isMerchant())
            {
                this.merchantOrders()
            }
        },

        methods: {
            customerOrders(){
                this.uri = '/api/myOrders/'
                axios.get(this.uri).then(response => {
                    this.orders = response.data
                })
            },

            merchantOrders(page = 1){
                this.uri = '/api/storeOrders/'
                axios.get(this.uri).then(response => {
                    this.sales = response.data
                })
            },

            getResults(page = 1){
                axios.get(this.uri+page).then(response => {
                    if(this.$gate.isCustomer())
                    {
                      this.orders = response.data   
                    }

                    if(this.$gate.isMerchant())
                    {
                        this.sales = response.data
                    }
                })
            }
        }
    }
</script>
