<template>
  <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="card-title">Change Product</h3>
                            </div>
                            <div class="col-sm-6">
                                
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form role="form" @submit.prevent="onSubmit" @keydown="form.onKeydown($event)">
                            <alert-error :form="form"></alert-error>
                        
                        <div class="form-group">
                            <label>Current Password</label>
                           <input type="password" class="form-control" v-model="form.current" placeholder="Enter your current password" :class="{ 'is-invalid': form.errors.has('current') }">
                            <has-error :form="form" field="current"></has-error>
                        </div>

                          <div class="form-group">
                            <label>New Password</label>
                            <input type="password" class="form-control" v-model="form.password" placeholder="Enter the new password" :class="{ 'is-invalid': form.errors.has('password') }">
                            <has-error :form="form" field="password"></has-error>
                        </div>

                          <div class="form-group">
                            <label>Confirm New Password</label>
                            <input type="password" class="form-control" v-model="form.password_confirmation" placeholder="Confirm the new password" :class="{ 'is-invalid': form.errors.has('password_confirmation') }">
                            <has-error :form="form" field="password_confirmation"></has-error>
                            <div  class="text-danger"v-if="form.password != form.password_confirmation">Passwords do no match</div>
                        </div>

                       <div class="form-group">
                           <button type="submit" class="btn btn-primary float-right">Change Password</button>
                       </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import { Form, HasError, AlertError, AlertSuccess } from 'vform'
    export default {
        data(){
            return{
                 form: new Form({
                    current: '',
                    password: '',
                    password_confirmation: '',
                }),

                 message: ''
            }
        },

        methods: {
            onSubmit(){
                this.form.post('/api/password/change').then(response =>  {
                    Swal.fire(
                        'Created!',
                        this.message = response.data.message,
                        'success')
                    this.form.reset()
                    this.form.clear()
                }).catch(() => {
                        Swal.fire("Failed", "There was something wrong, please try again.", "warning")
                    })
            }
        }
    }
</script>
