<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="card-title">Products</h3>
                            </div>
                            <div class="col-sm-6">
                                <router-link :to="{name: 'product-add'}" class="btn btn-success float-right" @click="">Add Product</router-link>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-bordered">
                          <thead>                  
                            <tr>
                              <th>Image</th>
                              <th>Product Name</th>
                               <th>Price</th>
                                <th>Quantity</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                            <tbody>
                  
                                <tr v-for="(item, index) in products.data" :key="index">
                                  <td style="width:10%"><img :src="'/images/product/thumbnail/' + item.image" class="img-circle img-fluid"></td>
                                  <td>{{item.name | upText}}</td>
                                  <td>₦{{item.price | numFormat}}</td>
                                  <td>{{item.quantity}}</td>
                                  <td>
                                    <router-link :to="{name: 'product-edit', params: { id: item.id }}" class="btn btn-sm bg-teal" style="color:#fff!important;"><i class="fas fa-edit"></i>Edit</router-link>
                                    <button class="btn btn-sm btn-danger " style="color:#fff!important;" @click.prevent="deleteProduct(item.id)">
                                       <i class="fas fa-trash"></i> Delete
                                    </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                     <div class="card-footer">
                   <pagination :data="products" @pagination-change-page="getResults"></pagination>
                </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                products: {}
            }
        },

        created() {
            this.getProducts()
            Fire.$on('AfterCreate', () => {
              this.getProducts()
            })
        },

        methods: {

            getProducts() {
                axios.get('/api/products').then(response => {
                    this.products = response.data
                }).catch(() => {
                    Swal.fire("Failed!", "There was something wrong, please try again.", "warning")
                });
            },

            getResults(page = 1){
                axios.get('/api/products?page='+page).then(response => {
                    this.products = response.data
                }).catch(() => {
                    Swal.fire("Failed", "There was something wrong, please try again.", "warning")
                });
            },

            deleteProduct(id){
                Swal.fire({
                    title: 'Do you want to Delete this Product?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if(result.value)
                    {
                        axios.delete('/api/products/'+id).then(response => {
                            Swal.fire(
                                "Deleted",
                                this.message = response.data,
                                "success"
                                )
                            Fire.$emit('AfterCreate')
                        }).catch(() => {
                            Swal.fire("Failed!", "There was something wrong, please try again.", "warning")
                        })
                    }
                })
            }
        }

    }
</script>
