<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
               <div class="card card-primary card-outline" v-if="$gate.isMerchant()">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-edit"></i>
             Store Settings
            </h3>
          </div>
          <div class="card-body">
            
            <div class="row">
              <div class="col-5 col-sm-3">
                <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab" aria-controls="vert-tabs-home" aria-selected="true">Store Details</a>
                  <a class="nav-link" id="vert-tabs-profile-tab" data-toggle="pill" href="#vert-tabs-profile" role="tab" aria-controls="vert-tabs-profile" aria-selected="false">Store Banner</a>
                  
                </div>
              </div>
              <div class="col-7 col-sm-9">
                <div class="tab-content" id="vert-tabs-tabContent">
                  <div class="tab-pane text-left fade show active" id="vert-tabs-home" role="tabpanel" aria-labelledby="vert-tabs-home-tab">
                     <div>
                     <form class="form-horizontal" @submit.prevent="onSubmit" @keydown="form.onKeydown($event)">
                        <alert-error :form="form"></alert-error>
                         <div class="form-group">
                            <label for="name" class="col-sm-6 control-label">Store Name</label>
                            <div class="col-sm-12">
                            <input type="text" class="form-control"  name="name" placeholder="Store Name" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" value="">
                            <has-error :form="form" field="name"></has-error>
                            </div>
                         </div>
                         <div class="form-group">
                            <label for="url" class="col-sm-6 control-label">Store Url</label>
                            <div class="col-sm-12">
                            <input type="text" class="form-control"  name="url" placeholder="Store URL" v-model="form.url" :class="{ 'is-invalid': form.errors.has('url') }" value="">
                            <has-error :form="form" field="url"></has-error>
                            </div>
                         </div>
                         <div class="form-group">
                            <label for="address" class="col-sm-6 control-label">Store Address</label>
                            <div class="col-sm-12">
                            <input type="text" class="form-control"  name="address" placeholder="Store Address" v-model="form.address" :class="{ 'is-invalid': form.errors.has('address') }" value="">
                            <has-error :form="form" field="address"></has-error>
                            </div>
                         </div>
                         <div class="form-group">
                            <label for="city" class="col-sm-6 control-label">Store City</label>
                            <div class="col-sm-12">
                                <select class="form-control"  name="city" v-model="form.city" :class="{ 'is-invalid': form.errors.has('city') }">
                                    <option value="">Select a City</option>
                                    <option v-for="(city, index) in cities" :key="index" :value="city.id">{{city.name}}</option>
                                </select>
                            <has-error :form="form" field="city"></has-error>
                            </div>
                         </div>
                         <div class="form-group">
                            <label for="phone" class="col-sm-6 control-label">Phone Number</label>
                            <div class="col-sm-12">
                            <input type="text" class="form-control"  name="phone" placeholder="Phone Number" v-model="form.phone" :class="{ 'is-invalid': form.errors.has('phone') }" value="">
                            <has-error :form="form" field="phone"></has-error>
                            </div>
                         </div>
                         <div class="form-group">
                            <label for="desc" class="col-sm-6 control-label">Store Descrption</label>
                            <div class="col-sm-12">
                                <textarea class="form-control" name="desc" :class="{ 'is-invalid': form.errors.has('desc') }" row="10" cols="5" v-model="form.desc"></textarea>
                            <has-error :form="form" field="desc"></has-error>
                            </div>
                         </div>
                         <button type="submit" class="btn btn-md btn-primary float-right">Update</button>
                     </form>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="vert-tabs-profile" role="tabpanel" aria-labelledby="vert-tabs-profile-tab">
                     <div>
                        <form @submit.prevent="addBanner" @keydown="banner.onKeydown($event)" enctype="multipart/form-data">
                            <alert-error :form="banner"></alert-error>
                             <div class="form-group">
                                <label for="banner" class="col-sm-6 control-label">Store Banner</label>
                                <div class="col-sm-12">
                                    <b-form-file  placeholder="Choose a file..." drop-placeholder="Select an image..." v-model="banner.image" accept=".jpg, .png, .gif"></b-form-file>
                                    <has-error :form="banner" field="image"></has-error>
                                </div>
                             </div>
                             <button type="button" class="btn btn-md btn-primary float-right" @click="addBanner">Upload</button>
                        </form>
                     </div>
                  </div>
                
               
                </div>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>

         <div v-if="!$gate.isMerchant()">
              <not-found></not-found>
        </div>
        </div>
        </div>
    </div>
</template>

<script>
    import { Form, HasError, AlertError, AlertSuccess } from 'vform'
    export default {
        data(){
            return{
                cities: [],
                id:'',
                message:'',
                banner: new Form({
                    image:''
                }),
                form: new Form({
                    name: '',
                    url: '',
                    address: '',
                    phone: '',
                    city: '',
                    desc: '',
                }),
                
            }
        },

        methods:{
            getDetails(){
                 if(this.$gate.isMerchant()){
                    axios.get('/api/store/details').then(({data})=>{
                        this.id = data.data.id
                        this.form.name = data.data.name
                        this.form.url = data.data.url
                        this.form.address = data.data.address
                        this.form.phone = data.data.phone
                        this.form.city = data.data.city
                        this.form.desc = data.data.desc
                    })
                }
            },

            getCities(){
                axios.get('/api/cities/list').then(({data})=>{
                    this.cities = data.data
                })
            },

            onSubmit(){
                if(this.$gate.isMerchant()){
                    this.form.post('/api/store/'+this.id).then(response => {
                        Swal.fire(
                            'Updated!',
                            this.message = response.data,
                            'success'
                            )
                        Fire.$emit('AfterEdit')
                    })
                }
            },

            addBanner(){
                if(this.$gate.isMerchant()){
                    this.banner.submit('post', '/api/store/banner', {
                        transformRequest: [function (data, headers) {
                            return objectToFormData(data)}],
                    }).then(response => {
                            Swal.fire(
                                'Created!',
                                this.message = response.data,
                                'success'
                                )
                            this.banner.clear()
                            this.banner.image = null
                        
                    }).catch(() => {
                            Swal.fire(
                                'Error!!!', "There is an error with your input", "error")
                    })
                }
            }
        },

        created() {
            this.getDetails()
            this.getCities()
            Fire.$on('AfterEdit', () => {
              this.getDetails()
              this.getCities()
            }) 
        }
    }
</script>
