<template>
    <div class="container">
        <div class="card" v-if="$gate.isAdmin()">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-6">
                <h3 class="card-title">Subcategories</h3>
                  </div>
                  <div class="col-sm-6">
                <button type="button" class="btn btn-success float-right" @click.prevent="showModal">
                  Add Subcategory
                  </button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Slug</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                    <tr v-for="(sub, index) in subcategories.data" :key="index">
                      <td>{{index+1}}</td>
                      <td>{{sub.sub_name}}</td>
                      <td>{{sub.category.name}}</td>
                      <td>{{sub.slug}}</td>
                      <td>
                        <button type="button" class="btn btn-primary" @click.prevent="editCat(sub.id)"> Edit</button>
                        <button type="button" class="btn btn-danger" v-if="sub.status == 1" @click.prevent="deleteCat(sub.id)"> Deactivate</button>
                        <button type="button" class="btn btn-success" v-else @click.prevent="deleteCat(sub.id)"> Activate</button>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->

               <div class="card-footer">
                   <pagination :data="subcategories" @pagination-change-page="getResults"></pagination>
                </div>
              
            </div>

            <div v-if="!$gate.isAdmin()">
              <not-found></not-found>
            </div>


            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" v-if="title">{{title}}</h5>
        <h5 class="modal-title" id="exampleModalLabel"  v-else>Add subcategory</h5>
        <button type="button" class="close" @click.prevent="closeModal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form v-if="title" class="form-horizontal" @submit.prevent="updateData" @keydown="form.onKeydown($event)">
      <div class="modal-body">
        <alert-error :form="form"></alert-error>
                <div class="card-body">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Name</label>

                    <div class="col-sm-12">
                      <input type="text" class="form-control"  name="name" placeholder="Name" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" >
                    <has-error :form="form" field="name"></has-error>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Category</label>

                    <div class="col-sm-12">
                      <select class="form-control" name="category" v-model="form.category" :class="{ 'is-invalid': form.errors.has('category') }">
                        <option value="">Choose a Category</option>
                        <option v-for="(cat, index) in categories" :key="index" :value="cat.id">{{cat.name}}</option>
                      </select>
                    <has-error :form="form" field="category"></has-error>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label">slug</label>

                    <div class="col-sm-12">
                      <input type="text" class="form-control" name="slug"  placeholder="slug" v-model="form.slug" :class="{ 'is-invalid': form.errors.has('slug') }" >
                      <has-error :form="form" field="slug"></has-error>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-danger" @click.prevent="closeModal" aria-label="Close">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
      </form>

       <form v-else class="form-horizontal" @submit.prevent="onSubmit" @keydown="form.onKeydown($event)">
      <div class="modal-body">
        <alert-error :form="form"></alert-error>
                <div class="card-body">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Name</label>

                    <div class="col-sm-12">
                      <input type="text" class="form-control"  name="name" placeholder="Subcategory Name" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }">
                    <has-error :form="form" field="name"></has-error>
                    </div>
                  </div>

                   <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Category</label>

                    <div class="col-sm-12">
                      <select class="form-control" name="category" v-model="form.category" :class="{ 'is-invalid': form.errors.has('category') }">
                        <option value="">Choose a Category</option>
                        <option v-for="(cat, index) in categories" :key="index" :value="cat.id">{{cat.name}}</option>
                      </select>
                    <has-error :form="form" field="category"></has-error>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label">slug</label>

                    <div class="col-sm-12">
                      <input type="text" class="form-control" name="slug"  placeholder="slug" v-model="form.slug" :class="{ 'is-invalid': form.errors.has('slug') }" >
                      <has-error :form="form" field="slug"></has-error>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-danger" @click.prevent="closeModal" aria-label="Close">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
      </form>

    </div>
  </div>
</div>
    </div>
</template>

<script>
    import { Form, HasError, AlertError, AlertSuccess } from 'vform'
    export default {
        data() {
            return {

                title: '',
                message: '',
                sid: '',
                categories: [],
                subcategories: {},
                form: new Form({
                    name: '',
                    category: '',
                    slug: ''
                }),
            }
        },

        created() {
             this.getSubcategories();
            Fire.$on('AfterCreate', () => {
              this.getSubcategories()
            }) 
        },

        methods: {
            getSubcategories() {
              if(this.$gate.isAdmin())
              {
                axios.get('/api/subcategories').then(({ data }) => {
                    this.subcategories = data;
                }); 
              }
                
            },

            getCategories() {
                axios.get('/api/categories').then(({ data }) => {
                    this.categories = data.data;
                }); 
            },

            getResults(page = 1){
                axios.get('/api/subcategories?page=' + page).then(response => {
                    this.subcategories = response.data;
                });
            },

            showModal() {
                this.reset()
                this.form.reset()
                this.getCategories();
                $('#exampleModal').modal("show")
            },

            closeModal() {
                this.reset()
                this.form.clear()
                $('#exampleModal').modal("hide")
            },

            onSubmit() {
                this.reset()
                this.form.post('/api/subcategories').then(response => {
                    Swal.fire(
                        'Created!',
                        this.message = response.data.message,
                        'success'
                        )
                    this.form.reset()
                    Fire.$emit('AfterCreate')
                    $('#exampleModal').modal("hide")
                }).catch(() => {
                    swal("Failed!", "There was something wrong, please try again.", "warning");
                });
            },

            deleteCat(id){
              Swal.fire({
                  title: 'Do you want to change subcategory status?',
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, change it!'
                  }).then((result)=> {
                    if(result.value){
                      axios.delete('/api/subcategories/'+id).then(response => {
                        Swal.fire(
                          "Changed",
                          this.message = response.data,
                          "success"
                          )
                        Fire.$emit('AfterCreate')
                      }).catch(() => {
                        Swal.fire("Failed", "something went wrong, please try again", "warning")
                      })
                    }
                  })
            },

            editCat(id){
              this.title = 'Edit Subcategory'
                 axios.get('/api/subcategories/'+id).then(({data}) => {
                  this.sid = id
                  this.form.name = data.data.sub_name
                  this.form.slug = data.data.slug
                  this.form.category = data.data.category.id
                  $('#exampleModal').modal("show")
                  this.getCategories()
                }).catch(() => {
                  Swal.fire("Failed", "something went wrong, please try again", "warning")
                })
            },

            updateData(){
              this.form.put('/api/subcategories/'+this.sid).then(response => {
                  if(response.status == 200){
                  this.closeModal()
                  Swal.fire("Updated", this.message = response.data, "success")
                  Fire.$emit('AfterCreate')
                }
                })
            },

            reset(){
                this.title = ''
                this.message = ''
            }
        }
    }
</script>
